* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: relative;
}

header {
    display: flex;
    justify-content: space-around;

    margin-bottom: 50px;

}

#logoArea, 
#menu {
   
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
   gap: 1em;
    
}

#menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#menu h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}








.aboutme {
    padding-left: 2em;
}

.locator h4 {
    display: inline-block;
}


.logo{
  width: 50px;
  height: 50px;

}

h2,
h3,
h4,
p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.project h2 {
    margin-bottom: 0.3em;
}

h4{
    display: inline-block;
    
}

main {
    position: relative;
}


.image-firstfPage {
    width: 100%;
    
   
}

.summary {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 0.5rem;
    width: 70%;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 1.5;
}




a:hover ,
a:visited{
    color: black;

}





.image-me {
    width: 30%;
    border-radius: 50%;

    margin-left: 2em;
}

.projects {
    display: grid;
    place-items: center;
    
    
}

.image-project {
    object-fit: cover;
    width: 100%;
    height: 100%;
    

    

}

.image {
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    

}

footer {
    background: blue;
    color: white;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.article {
    width: 90%;
    margin: auto;
}

.image-article {
    display: grid;
    margin: auto;
    width: 100%;
    
}



@media (min-width: 600px) {

  

    header {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
   
        
    }

   

    #menuImage,
    #closeImage {
    
        display: none;
        height: 0px;
    }




    .showMenu {
      
        display: none;
    }

   

    .bigScreen {
        display: block;
        visibility: visible;
    }

    

   

    

    .image-firstfPage,
    .image-article {
        max-height: 70vh;
        max-width: 100%;
        object-fit: cover;
        margin: auto;
    }

    .image-article {
        max-height: 70%;
        max-width: 70%;
    
    }

    .summary {
        font-size: 1em;
        bottom: 30px;
        width: 60%;
    }
    
    .article {
        
        margin: auto;
        padding-left: 8em;
        padding-right: 8em;
        max-width: 800px;
        line-height: 1.5;
        min-width: 80%;
        
       
    }

    .projects {
        padding: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em 2em;
        max-width:100%;
        margin: auto;
        line-height: 1.5;
        
    }

    .recentArticle {
        text-align: center;
        grid-column: 1/-1;
    }

    .bio-info {
        max-width: 80%;
        margin: auto;
        
    }

    .bio-info .introduction {
        margin: auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: 200px 3fr;
        grid-gap: 0 1em;
        padding: 1em;
       

        
    }

    .image-me {
        width: 80%;
        align-self: center;
        justify-self: start;
        
        
    }

    

    
    
}




